body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

#loading-container {
    text-align: center;
}

#loading-animation {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
}

p {
    font-size: 18px;
}