{% extends "base.html" %}
{% block content %}

<div>
    <div class="header">
        <div class="logo logo-mini">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='mini-logo.png') }}" alt="100x Club Logo">
            </a>
        </div>
        <div class="nav-buttons">
           <a href="{{ url_for('about') }}"><strong>About Us</strong></a>
            <a href="{{ url_for('contact') }}"><strong>Contact Us</strong></a>
            <div id="search-container"></div>
    </div>
</div>


<div class="container report-container">
    <div class="text-center">
        <img src="{{ url_for('static', filename='Header4.png') }}" alt="Header" class="header-image">
    </div>

    <h1 class="text-center pink-heading">News Summary for {{ asset_name }}</h1>

    <div class="button-container text-center">
   
    <div class="report-content">
        <div class="news-summary">
            {{ news_summary | safe }}
        </div>
        <div id="search-container"></div>
    </div>

{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/search_module.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            SearchModule.init('search-container');
        });
    </script>
{% endblock %}