{% extends "base.html" %}
{% block content %}
<body>
  <div class="container mt-5">
      <h2 style="font-family: 'Roboto', sans-serif; font-size: 22px; color: #ffffff;">Privacy</h2>
      <h1 style="font-family: 'Anton', sans-serif; font-size: 52px; color: #ffffff;">PRIVACY STATEMENT</h1>
    </div>
      <div style="color: #ffffff;">
        <h3>Privacy Policy</h3>
        <p>Last updated: 01:09:2024</p>
        
        <p>100-x operates 100-x.club (the "Service"). This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.</p>

        <h4>Information Collection and Use</h4>
        <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

    
        <h4>Contact Us</h4>
        <p>If you have any questions about this Privacy Policy, please contact us:</p>
        <ul>
          <li>By email: info@100-x.club</li>
          <li>By visiting this page on our website: 100-x.club</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}